.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

a.text-dark:focus,
a.text-dark:hover {
  color: #1d2124 !important;
}

.media {
  margin-top: 20px;
}

.rounded-circle.account-img {
  width: 130px;
  margin-right: 20px;
}
